a
  text-decoration: none
  color: $dark

p
  margin-bottom: 0 !important

.font-16
  font-size: 16px

.font-14
  font-size: 14px

.font-24
  font-size: 24px

.font-30
  font-size: 30px

.letter-1
  letter-spacing: 1px
